@-webkit-keyframes updown {
  from {
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  to {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
}

@keyframes updown {
  from {
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  to {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectContainer .projectBox {
  width: 80%;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00688b;
}

.projectContainer .projectBox .picDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.projectContainer .projectBox .picDiv .projectPic {
  height: 50rem;
  width: 60rem;
  animation: updown 2.5s infinite alternate-reverse ease-in-out;
}

.projectContainer .projectBox .porjectDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.projectContainer .projectBox .porjectDiv .head {
  margin-bottom: 2rem;
}

.projectContainer .projectBox .porjectDiv .head h1 {
  text-shadow: 0.2rem 0.2rem 0.4rem #33a1de;
  font-size: 4rem;
}

.projectContainer .projectBox .porjectDiv .projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.projectContainer .projectBox .porjectDiv .projects .project {
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1rem 0.5rem #62B1F6;
          box-shadow: 0 0.5rem 1rem 0.5rem #62B1F6;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.projectContainer .projectBox .porjectDiv .projects .project:hover {
  -webkit-box-shadow: 0 0.8rem 1.4rem 0.7rem #62B1F6;
          box-shadow: 0 0.8rem 1.4rem 0.7rem #62B1F6;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.projectContainer .projectBox .porjectDiv .projects .project .project1 {
  height: 14rem;
  width: 100%;
  border-radius: 0.5rem;
}

.projectContainer .projectBox .porjectDiv .projects .project .description {
  width: 100%;
  margin-top: .5rem;
}

.projectContainer .projectBox .porjectDiv .projects .project .description h2 {
  font-size: 2rem;
}

.projectContainer .projectBox .porjectDiv .projects .project .description p {
  font-size: 1.5rem;
}

.projectContainer .projectBox .porjectDiv .projects .project .btn {
  margin-top: 0.7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectContainer .projectBox .porjectDiv .projects .project .btn button {
  font-size: 2rem;
  padding: 0.1rem 1rem;
  background-color: #00688b;
  border: 0.1rem solid #00688b;
  border-radius: .5rem;
  color: white;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0.2rem 0.3rem 0.5rem 0.2rem #3299cc;
          box-shadow: 0.2rem 0.3rem 0.5rem 0.2rem #3299cc;
}

.projectContainer .projectBox .porjectDiv .projects .project .btn button:hover {
  color: #00688b;
  background-color: white;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0.2rem 0.4rem 0.8rem 0.4rem #3299cc;
          box-shadow: 0.2rem 0.4rem 0.8rem 0.4rem #3299cc;
}

@media (max-width: 768px) {
  html {
    font-size: 52%;
  }
  .projectContainer .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectContainer .projectBox .porjectDiv {
    width: 100%;
  }
}
/*# sourceMappingURL=Projects.css.map */