@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

// mixing
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bor {
  border: 0.1rem solid black;
}
@mixin btn {
    border: none;
    outline: none;
    cursor: pointer;
}

// animations

@keyframes updown {
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}

// full page

.pageContainer {
  background-color: #e1f2f5a4;
}


.div {
  width: 100vw;
  height: 100vh;
  border: 0.1rem solid black;
}

// main Page

.mainContainer {
  @include flex();
  // @include bor();
  .mainBox {
    width: 80%;
    margin-top: 10rem;
    @include flex();
    // @include bor();
    .imageDiv {
      // @include bor();
      @include flex();
      flex-direction: column;
      justify-content: flex-end;
      height: 80%;
      width: 50%;
      .mainPic {
        height: 50rem;
        width: 60rem;
        animation: updown 2.5s infinite alternate-reverse ease-in-out;
        z-index: 1;
      }
    }
    .mainDetailsDiv {
      // @include bor();
      @include flex();
      flex-direction: column;
      justify-content: flex-end;
      height: 75%;
      width: 50%;
      .intro {
        color: #00688B;
        h5 {
          font-size: 3rem;
          text-shadow: .2rem .2rem .4rem #33A1DE;
        }
        h1 {
          font-size: 5rem;
          margin-top: -1rem;
          text-shadow: .2rem .2rem .4rem #33A1DE;
        }
        p {
          
          font-size: 1.5rem;
        }
        button {
          @include btn();
          margin-top: 2rem;
          background-color: #00688B;
          border: .1rem solid #00688B;
          color: white;
          padding: .6rem 1.2rem;
          font-size: 2rem;
          transition: .25s all;
          box-shadow: .2rem .3rem .7rem .2rem #3299CC;
          &:hover{
            color: #00688B;
            background-color: white;
            transform: translateY(-.2rem);
            box-shadow: .2rem .4rem .8rem .4rem #3299CC;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  html{
    font-size: 52%;
  }
}

@media (max-width: 768px) {
  html{
    font-size: 58%;
  }
  .mainContainer{
    .mainBox{
      flex-direction: column;
      .mainDetailsDiv{
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  html{
    font-size: 36%;
  }
}
@media (max-width: 425px) {
  html{
    font-size: 40.5%;
  }
}
@media (max-width: 375px) {
  html{
    font-size: 32.5%;
  }
}
@media (max-width: 320px) {
  html{
    font-size: 30.5%;
  }
}
@media (max-width: 300px) {
  html{
    font-size: 26.5%;
  }
}